---
import Layout from '../layouts/Layout.astro';
import Guitar from '../components/Guitar.astro';
import Post from '../components/Post.astro';
import Course from '../components/Course.astro';

const urlGuitars = `${import.meta.env.PUBLIC_API_URL}/guitarras?populate=imagen`
const urlPosts = `${import.meta.env.PUBLIC_API_URL}/posts?populate=imagen`
const urlCourse= `${import.meta.env.PUBLIC_API_URL}/curso?populate=imagen`

const [resGuitars, resPost, resCourse] = await Promise.all([
	fetch(urlGuitars),
	fetch(urlPosts),
	fetch(urlCourse)
])

const [{data: guitars}, {data: posts}, {data: course} ] = await Promise.all([
	resGuitars.json(),
	resPost.json(),
	resCourse.json(),
])

---

<Layout title="Inicio" description="Store page for musical instruments, guitars, courses, blog and more">
	<main class="contenedor">
		<h1 class="heading">Our Collection</h1>

		<div class="grid">
			{guitars?.map(guitar=> (
				<Guitar 
					name = {guitar.attributes.name}
					description = {guitar.attributes.description}
					url = {guitar.attributes.url}
					price = {guitar.attributes.price}
					imagen = {guitar.attributes.imagen.data.attributes.formats.medium.url}
				/>
			))}
		</div>
	</main>

	<Course 
		titulo = {course.attributes.titulo}
		contenido = {course.attributes.contenido}
		imagen = {course.attributes.imagen.data.attributes.url}
	/>

	<section class="contenedor">
		<h2 class="heading">Blog</h2>

		<div class="grid">
			{posts?.map(post => (
				<Post 
					titulo = {post.attributes.titulo}
					publishedAt = {post.attributes.publishedAt}
					contenido = {post.attributes.contenido}
					imagen = {post.attributes.imagen.data.attributes.formats.medium.url}
					url = {post.attributes.url}

				/>
			))}
		</div>
	</section>
</Layout>

<style>

</style>
